@import url("main.css");

.wrapper{
    margin: 0 auto;
    width: 95%;
}

.alumni{
    margin-top: 30px;
   
}

.alumni-card{
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 16px;
    text-align: center;
    margin: 50px 0;
}

.profile-photo{
    margin: 20px auto ;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 80%;
    max-width: 240px;
   height: 240px;
   background-image: url("../images/profile.png");
   background-size: cover ;
}

.alumni-card h1{
    color: white;
    margin-top: 20px;
    font-weight: 35px;
    margin-bottom: 5px;
}

.alumni-card h2{
    color: white;
    font-weight: 20px;
    margin-bottom: 10px;
}

.alumni-card p{
    margin-bottom: 25px;
}

.alumni-card a{
    display: inline-block;
    margin-bottom: 10px;
}